
/*
:root{
color:gray;

.content *{} määritykset kohdistuu kaikkiin ali elementteihin.

color: var(--gray);
!important priorisoi määrityksen
*/

.footer-bottom{
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:pink;
    color:black;
    text-align: center;
margin:auto;
}

.checkout{
  position:absolute; top:0; right:0;
  margin-right:5px;
}

#tilanne{
  border:1px;
  width:100;
  text-align: right;
  margin-right: 100px;
  right:0;
}

/*Navibarin säätö keskelle */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.grid-item {
  margin: auto;
}

/*Image gallery specific changes*/
.products {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minimax(90, auto);
  grid-gap: 10px;
  max-width: 150px;
  margin:0 auto;
  justify-content: center;
}

.content {
  display:grid;
  border: 2px solid black;
  font-size: 0.75em;
  margin-top:20px;
  padding:10px;
}

#products #a {
  background-color: chartreuse;
}



/*galleria*/
div.sailio {
    display:inline-flex;
    flex-direction: row;
    padding-top: 20px;
    margin:auto;
}

div.sailio:hover {
    border: 1px solid #777;
}

div.sailio img {
    width: 110px;
    height: 90px;
    border: 1px solid black;
}

div.kuvaus {
    padding: 10px;
    text-align: justify;
}

div.hinta {
    text-align: center;
}

.otsikko {
text-align: center;
    padding-top:10px;
    clear: both;
}


/*Etusivu ja tietoja meistä. Määritykset säätää tekstit nav barin mukaisesti, hieman hc:ta mukana*/
div.blocktext{
    display:block;
    float:right;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    text-align: justify;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight:700;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight:700;
}


h4{
    font-family: 'Raleway', sans-serif;
    font-weight:700;
}

address{
    font-family: 'Raleway', sans-serif;
    font-weight:700;

}

.wrapper         {display:grid;width:100%;height:fit-content; margin:auto;background-color:none;}

.frame{
    display:flex;
    margin:auto;
}

div.Myymalat td{ column-gap: 40px; }

div.Myymalat{
    z-index: 1;
    padding-right:20px;
    padding-left:20px;
}

div.Myymalat > th p{
    margin-left:20px;
    text-align: left;
}

body{
    margin:auto;
    background-image: url("../img/kukka-background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}


table {
    border-style: solid;
    border-width: 1px;
  }

  tr td th{
    border-style: solid;
  }

  legend{
    margin-left:-12px;
  }

  fieldset {
    background-color:azure;
    width:fit-content;
    margin:auto;
  }

legend{
    margin-left:0px;
}
  label{
    float:left;
  }

  #news{
    width:fit-content;
    margin:5px 0px;
    float:right;
    margin-left: 10px;
  }

  input[type=radio] {
    vertical-align:left;
    position:relative;
  }

  input{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:5px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  textarea{
  padding-left: 5px;
  padding-right: 5px;
  padding-top:5px;
  padding-bottom: 5px;
  margin-left:0px;
  }

  fieldset{
    padding-left:10px;
    background-image: none;
}

  .sFormi{
    padding-left: 5px;
    width:auto;
    text-align:left;
  }

  @media (min-width: 576px) {
    .sailio {
      max-width: 500px;
      margin: 1.75rem auto;
    }
  }

  @media (min-width: 992px) {
    .sailio {
        max-width: 900px;
        margin: 1.75rem auto;
      }
    }

  @media (min-width: 1200px) {
    .sailio {
        max-width: 1200px;
        margin: 1.75rem auto;
      }
    }

