/*
:root{
color:gray;

.content *{} määritykset kohdistuu kaikkiin ali elementteihin.

color: var(--gray);
!important priorisoi määrityksen
*/

div.gallery {
margin-top:100px;
    /*border: 1px solid #ccc;*/
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 110px;
    height: 90px;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  * {
    box-sizing:border-box;
  }

  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }

  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
.nappi2 {
    width: 50%;
}

.kassaNappi {
    border-radius: 12px;
    background-color: cornflowerblue; /* Green */
    border: none;
    color: darkslategrey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.totalBox {
    text-align: center;
    margin: 0 auto;
    display: table;
}

.tuoteGalleria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minimax(90, auto);
    grid-gap: 10px;
}


#topRight{
    position: absolute;
    right: 5px;
    top: 30px;
    display: block;
}

#topRightYht {
    display: block;
    position: relative;
margin-top:40px;
margin-right:0px;
    text-align: center;

}



.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

.createPad {
    padding-left: 20px;
}

.box {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
}

.main {
    float: left;
    width: 60%;
}

.ostoskori * {
    width: 60%;
    float: right;
    text-align: left;
}
#poista {
    float: right;
    margin-right: 10px;
}

.kuva {
    width: 110px;
    height: 90px;
    border-radius: 10px;
}

#maara {
    margin-top: 30px;
    margin-left: 0;
    width: 30px;
    float: left;
}

/*.kortit {
    margin-left: 100px;*/

.footer-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: pink;
    color: black;
    text-align: center;
    margin: auto;
}

.checkout {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
}

#tilanne {
    border: 1px;
    width: 100;
    text-align: right;
    margin-right: 100px;
    right: 0;
}

/*Neilikka Image gallery specific changes*/
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minimax(90, auto);
    grid-gap: 10px;
    max-width: 150px;
    margin: 0 auto;
    justify-content: center;
}

.content {
    display: grid;
    border: 2px solid black;
    font-size: 0.75em;
    margin-top: 20px;
    padding: 10px;
}

.ostosnappi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 40px;
    height: 30px;
}

#products #a {
    background-color: chartreuse;
}

div.kuvaus {
    padding: 10px;
    text-align: justify;
}

div.hinta {
    text-align: center;
}

.otsikko {
    text-align: left;
    padding-top: 10px;
    clear: both;
}
.clear {
    clear: both;
}

/*Etusivu ja tietoja meistä. Määritykset säätää tekstit nav barin mukaisesti, hieman hc:ta mukana*/
div.blocktext {
    display: block;
    float: right;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    text-align: justify;
}

.wrapper {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: auto;
    background-color: none;
}

.frame {
    display: flex;
    margin: auto;
}

div.Myymalat td {
    column-gap: 40px;
}

div.Myymalat {
    z-index: 1;
    padding-right: 20px;
    padding-left: 20px;
}

div.Myymalat > th p {
    margin-left: 20px;
    text-align: left;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

address {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

body {
    margin: auto;
    background-image: url('../img/kukka-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    border-style: solid;
    border-width: 1px;
}

tr td th {
    border-style: solid;
}

legend {
    margin-left: -12px;
}

fieldset {
    background-color: azure;
    width: fit-content;
    margin: auto;
}

legend {
    margin-left: 0px;
}

#news {
    width: fit-content;
    margin: 5px 0px;
    float: right;
    margin-left: 10px;
}

input[type='radio'] {
    vertical-align: left;
    position: relative;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

input[class='inp-maara'] {
    width: 30px !important;
}

input {
    width: 60px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: 0px;
    *overflow: hidden;
}

textarea {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0px;
}

fieldset {
    padding-left: 10px;
    background-image: none;
}

.sFormi {
    padding-left: 5px;
    width: auto;
    text-align: left;
}

@media (min-width: 576px) {
    .sailio {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}

@media (min-width: 992px) {
    .sailio {
        max-width: 900px;
        margin: 1.75rem auto;
    }
}

@media (min-width: 1200px) {
    .sailio {
        max-width: 1200px;
        margin: 1.75rem auto;
    }
}
